<footer>
  <p>© 2025 Forza Unity. Todos los derechos reservados.</p>
  <p>Proyecto universitario - UAA</p>
  <div class="social-icons">
    <a href="https://www.facebook.com/profile.php?id=61554505233930" target="_blank"><img src="assets/iconos/facebook.png" alt="Facebook"></a>
    <a href="https://www.instagram.com/depor.tuaa?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank"><img src="assets/iconos/instagram.png" alt="Instagram"></a>
    <a href="https://www.youtube.com/@ForzaUnity" target="_blank"><img src="assets/iconos/youtube.png" alt="Youtube"></a>
  </div>
</footer>