nav {
  background-color: black;
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

nav ul li a:hover {
  color: red;
}

.auth-container {
  margin-left: 30px; /* Ajusta este valor al espacio que desees */
}

.btn-login {
  background-color: #ffc107;
  color: #333;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.3s;
}

.btn-login i {
  margin-left: 8px;
}

.btn-login:hover {
  background-color: #ffb300;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.welcome-message {
  color: #ffc107;
  font-size: 14px;
  margin-bottom: 5px;
}

.btn-logout {
  background-color: transparent;
  color: #333;
  border: 1px solid #ffc107;
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 0.3s;
}

.btn-logout i {
  margin-right: 8px;
}

.btn-logout:hover {
  background-color: #ffc107;
  color: #333;
}