<nav>


  <ul>
    <li><a routerLink="/Inicio" routerLinkActive="active">Inicio</a></li>
    <li><a routerLink="/Planes" routerLinkActive="active">Planes</a></li>
    <li><a routerLink="/clases" routerLinkActive="active">Clases</a></li>
    <li><a routerLink="/servicios" routerLinkActive="active">Regístrate</a></li>
    <li><a routerLink="/contacto" routerLinkActive="active">Contacto</a></li>
    <li *ngIf="isLoggedIn">
      <a routerLink="/registro" routerLinkActive="active">Registros</a>
    </li>

    <button *ngIf="!isLoggedIn" class="btn-login" routerLink="/login">
      <i class="fas fa-user"></i> Iniciar Sesión
    </button>

  </ul>

  <div class="auth-container">

    <div *ngIf="isLoggedIn" class="user-info">
      <span class="welcome-message">¡Bienvenido, {{ userName }}!</span>
      <button class="btn-logout" (click)="logout()">
        <i class="fas fa-sign-out-alt"></i> Cerrar Sesión
      </button>
    </div>
  </div>
</nav>